<div class="py-4">
  <h1 class="my-4">購入明細一覧</h1>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>注文者様</th>
        <th>注文日時</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.family_name %> <%= order.given_name %> 様</td>
          <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td><%= link_to '詳細', order_path(order), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>